:root {
  --spacing: 10px;
}

.header {
  border-bottom: 2px solid var(--mantine-color-gray-2);
  background-color: var(--mantine-color-gray-0);
  margin-bottom: calc(var(--spacing) * 4);
  padding: var(--spacing) 0;
}

.header-icon {
  margin-right: var(--spacing);
  color: var(--mantine-color-blue-9);
}

.iconLink {
    margin-left: auto;
    transition: 200ms;

    &:hover {
        color: var(--mantine-color-blue-4);
    }
}